body {
    background-color: rgb(161, 222, 203);
}
a {
    color: rgb(30, 103, 167);
    padding: 20px;
    font-size: 20px;
}

h1 {
    text-align: center;
}
img {
    width: 350px;
}

.gray {
    background-color: rgb(182, 182, 182);
}
#active {
    background-color: rgb(104, 151, 189);
    color: white
}